body {
  background-color: #2E2E2E;  /* Dark Grey as background */
  color: #EDEDED;  /* Light Grey for text */
  font-family: 'Arial', sans-serif;
}

.user-message {
  background-color: #6B4226;  /* Earthy Brown */
  color: white;
  padding: 10px;
  border-radius: 10px;
  white-space: pre-wrap;
  margin-left: auto;
  margin-right: 0;
  max-width: 90%;
}

.response-message {
  background-color: #35424A;  /* Dark Blue-Gray */
  color: #D4AF37;  /* Metallic Gold for text */
  padding: 10px;
  border-radius: 10px;
  padding-right: 20px;
  position: relative;
  margin-right: auto;
  max-width: 90%;
}

.response-message p {
  margin-right: 40px;
}

#chat-container {
  display: none;
  margin: 0 auto;
  overflow: auto;
}

.host-address-select {
  background-color: #4E937A;  /* Earthy Green */
  color: white;
  padding: 10px;  /* Adjusted padding */
  border-radius: 20px;  /* Rounded corners */
}

#chat-history {
  display: flex;
  flex-direction: column;
  background-image: url('ANIMA-Chat/DALL·E 2023-10-10 09.19.01 - Realistic emblem that showcases the fusion of technology and nature, intertwined with elements of sacred geometry. Picture a motherboard or microchip .png'); /* Replace with your image's URL or path */
  background-size: cover; /* Cover the entire chat area */
  background-repeat: no-repeat; /* Don't repeat the image */
  background-color: rgba(0, 0, 0, 0.5); /* Overlay with semi-transparent black */
  background-blend-mode: multiply;
}

.copy-button {
  background-color: #D4AF37;  /* Metallic Gold */
  color: white;
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0 5px 5px 0;
}

#scroll-wrapper {
  padding-bottom: 5.5rem;
}

#input-area {
  background-color: #6B4226;  /* Earthy Brown */
  color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
